
html , body {
	color:#fff;
	height:100%;
	width:100%;
	font-family:monospace;
}
body {
  background: #282A36;
}
header {
	margin: 10px 0px 10px;
	width:100%;
}

h1 {
	display : inline;
	font-size : 26px;
	margin: 0px 20px;
}

.right {
	position:absolute;
	width:49%;
	height:100%;
	right:0;
	top:50px;
	background:#fff;
}

#container {
	padding:20px;
}